%h2
  .index-question-title
    = link_to question.title, question_path(question)
%h3
  = question.body
.answers
  - if question.answers.any?
    = render 'questions/answers', question: question
  -else
    %p Question have no any answers yet!
    %p ***
