%h2
  .index-question-title
    = link_to question.title, question_path(question)
%h3
  = question.body

- if question.answers.any?
  - question.answers.each do |answer|
    .answers
      = render 'answers/answer', answer: answer, question: question
-else
  %p Question have no any answers yet!
  %p ***
