.row.mx-auto
  = link_to 'Ask question', new_question_path
  - if @questions.present?
    %h1 Question List
    - @questions.each do |question|
      = render 'question', question: question
    = paginate @questions
  -else
    %h4 Question have no any answers yet!
